<html>
    <head>
        <title>Weather</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script>
			// let countryCode = "";
			// let cityCode = "";
		</script>
        <script language="javascript" type="text/javascript" src="libraries/jquery-3.4.1.min.js"></script>
		<script language="javascript" type="text/javascript" src="libraries/socket.io.min.js"></script>
		<script>
  			var socket = io();
		</script>
        <script language="javascript" type="text/javascript" src="libraries/p5.min.js"></script>
        <script language="javascript" type="text/javascript" src="libraries/p5.dom.min.js"></script>
        <script language="javascript" type="text/javascript" src="libraries/p5.sound.min.js"></script>
        <script language="javascript" type="text/javascript" src="libraries/p5.serialport.min.js"></script>
        <script language="javascript" type="text/javascript" src="libraries/dat.gui.min.js"></script>
        <script language="javascript" type="text/javascript" src="libraries/kinectron.bundle.min.js"></script>


        <script language="javascript" type="text/javascript" src="const.js"></script>
        <script language="javascript" type="text/javascript" src="key.js"></script>
        <script language="javascript" type="text/javascript" src="kinect.js"></script>

        <script language="javascript" type="text/javascript" src="main.js"></script>
        <script language="javascript" type="text/javascript" src="custom_date.js"></script>
        <script language="javascript" type="text/javascript" src="custom_city.js"></script>

        <script language="javascript" type="text/javascript" src="draw_json.js"></script>
        <script language="javascript" type="text/javascript" src="hill.js"></script>
        <script language="javascript" type="text/javascript" src="totoro.js"></script>
        <script language="javascript" type="text/javascript" src="small_totoro.js"></script>
        <script language="javascript" type="text/javascript" src="gwang.js"></script>
        <script language="javascript" type="text/javascript" src="bird.js"></script>

        <script language="javascript" type="text/javascript" src="leaf.js"></script>

        <script language="javascript" type="text/javascript" src="weather.js"></script>
        <script language="javascript" type="text/javascript" src="rain.js"></script>
        <script language="javascript" type="text/javascript" src="snow.js"></script>
        <script language="javascript" type="text/javascript" src="cloud.js"></script>
        <script language="javascript" type="text/javascript" src="sky.js"></script>
        <script language="javascript" type="text/javascript" src="info.js"></script>
        <script language="javascript" type="text/javascript" src="temp_bubble.js"></script>
        <script language="javascript" type="text/javascript" src="dandalion.js"></script>
        <script language="javascript" type="text/javascript" src="particle.js"></script>

       <style> body { padding: 0; margin: 0; } canvas {vertical-align: top;} </style>
   </head>
   <body>

   </body>
</html>
